<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Measure</title>
    </head>
    <body>
        <div class="container">
            <h1>Select Decision Maker</h1>
                <form method="POST">
                    {% csrf_token %}
                    <select name="actor">
                        <option value="country" selected>Country</option>
                        <option value="eeos">EEOS</option>
                    </select>
                </form>
            <h1>Find measures for your portfolio..</h1>
            <form method="POST" action='{% url "measure_search_results_investment" %}'>
                {% csrf_token %}
                <p>Select measure category:</p>
                <select name="category" size="6">
                    <option value="household" selected>Household-Houses</option>
                    <option value="business">Business Buildings</option>
                    <option value="industry">Industry</option>
                    <option value="private_transport">Private Transport</option>
                    <option value="public_transport">Public Transport</option>
                    <option value="public_buildings">Public Buildings</option>
                </select>
                <p>Select measure type:</p>
                <select name="type" size="2">
                    <option value="technical" selected>Technical</option>
                    <option value="behavioral">Behavioral</option>
                </select>
                <input type="submit" class="btn" value="OK">
            </form>
            <form method="GET">
                {% csrf_token %}
                <p>Calculate energy conservation based on:</p>
                <select name="type" size="2">
                        <option value="art3" selected>Article 3</option>
                        <option value="art7">Article 7</option>
                </select>
            </form>
            <br>
            
            <br>
            <br>
            <!-- {{ somevariable|cut:"0" }} to cut tha slash from measure names -->
          
            <form method="GET" multiple action='{% url "grab_selected_results_investment" %}'>
                {% csrf_token %}
                {% for element in results %}
                <input type="checkbox" name="measure" value ={{element.name}}/> {{element.name}} <br>
                {% endfor %}
                <input type="submit" class="btn" value="OK">
            </form>

        </div>
    </body>
</html>