<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Measure</title>
    </head>
    <body>
        <div class="container">
            <p>Choose analysis type:</p>
            <form method="POST">
                <select name="analysis">
                    <option value="social" selected>Social</option>
                    <option value="financial">Financial</option>
                </select>
            </form>
            <a class="link" href="/analysis">Choose from existing measures</a>
            <h1>Find measures for your portfolio..</h1>
        </div>
    </body>
</html>